.image {
  display: block;
  width: 100%;
  max-width: 512px;
  object-fit: cover;
  background-color: rgb(242 169 245);
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  padding: 10px;
  border-radius: 15px;
  color: rgb(20 0 20);
}

.image:hover {
  transform: scale(1.1);
}

.image-img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
